@footer-color: #ececec;
@header-color: rgba(79,90,103,0.3);
@services-color: #e5e6e8;
@green: #00ab8a;
@blue-gray: #4f5a67;
@blue-gray-light: #808d9b;
@text-color: #333333;
@yellow-light: #fffee5;
@transition: all 0.3s ease;
