.bancs__header-content,
.bancs__content {
  display: flex;
  text-align: center;
}

.bancs__header .bancs__header-content {
  font-size: 18px;
  font-weight: 300;
  color: @blue-gray;
  
  padding: 20px 0;
}

//active: @text-color-dark
//menu: light 18 @blue-gray;

.bancs__item {
  background-color: #ffffff;
  border-radius: @border-radius;
  box-shadow: @shadow-item;
  
}

.bancs__info {
  flex-basis: 43%;
  text-align: left;
}

.bancs__percent {
  flex-basis: 13%;
}

.bancs__term {
  flex-basis: 11%;
}

.bancs__fee {
  flex-basis: 15%;
}

.bancs__payment {
  flex-basis: 18%;
}

.bancs__name {
  font-size: 18px;
}

.bancs__exp {
  font-size: 14px;
  font-weight: 300;
  text-decoration: underline;
}

.bancs__documents {
  font-size: 14px;
  font-weight: 300;
  color: @blue-gray;
  
  span {
    display: inline-block;
    font-weight: 500;
    border-bottom: 2px dashed @blue-gray;
  }
}

.bancs__percent {
  font-weight: 500;
  font-size: 18px;
  span {
    color: @green;
    display: block;
  }
}

.bancs__term {
  font-size: 18px;
  font-weight: 300;
}

.bancs__fee {
  font-size: 18px;
  font-weight: 300;
  color: @text-color-dark;
}

.bancs__payment {
  font-size: 18px;
  font-weight: 500;
  color: @blue-gray;
}