.bancs {
    margin-top: 15px;
}

.bancs__content,
.bancs__header-content {
    display: flex;
    text-align: center;

}

.bancs__header-content {
    align-items: flex-end;
}

.bancs__header .bancs__header-content {
    padding: 10px 0;
}

.bancs__column-name {
    font-size: 18px;
    font-weight: 300;
    color: @blue-gray;
    display: inline-block;
    border-bottom: 2px dashed @blue-gray;
    position: relative;
}

.bancs__column-name--active {
    color: @text-color-dark
}




.bancs__item {
    background-color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: @border-radius;
    box-shadow: @shadow-item;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 130px;
    position: relative;
}

.bancs__sorting-icon {
    position: absolute;
    top: 0;
    right: -25px;
    width: 20px;
    height: 12px;
}

.bancs__item:hover {
    border: 3px solid @green;
}

.bancs__item--select {
    border: 3px solid @green;
    .bancs__icon {
        opacity: 1;
    }
    .bancs__control {
        display: block;
    }

    .bancs__check {
        background-color: @green;
    }
}

.bancs__info {
    flex-basis: 43%;
    text-align: left;
    padding-left: 20px;

}

.bancs__body .bancs__info {
    display: flex;
}

.bancs__icon {
    flex-basis: 20%;
    text-align: center;
    opacity: 0.6;
    img {
        width: 70%;
    }
}

.bancs__text {
    flex-basis: 80%;
    padding-top: 6px;
}



.bancs__percent {
    flex-basis: 13%;

}

.bancs__term {
    flex-basis: 11%;

}

.bancs__fee {
    flex-basis: 15%;

}

.bancs__payment {
    flex-basis: 18%;

}

.bancs__name {
    font-size: 18px;
    margin-bottom: 0;
}

.bancs__exp {
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    color: @blue-gray;
  opacity: 0.8;
    text-decoration: none;
    border-bottom: 1px dashed @blue-gray;

    &:hover {
        opacity: 1;
      text-decoration: none;
      color: @blue-gray;
    }
}

.bancs__body .bancs__documents {
    font-size: 14px;
    font-weight: 300;
    color: @blue-gray;
}

.bancs__documents-list {
    display: inline-block;
    font-weight: 500;
    color: @blue-gray;
  opacity: 0.8;
    text-decoration: none;
    border-bottom: 2px dashed @blue-gray;
    &:hover {
        text-decoration: none;
        opacity: 1;
        color: @blue-gray;
    }
}

.bancs__body .bancs__percent {
    font-weight: 500;
    font-size: 18px;
}

.bancs__min {
    color: @green;
    display: block;
    margin-top: -5px;
    font-weight: 500;
}

.bancs__body .bancs__term {
    font-size: 18px;
    font-weight: 300;
}

.bancs__body .bancs__fee {
    font-size: 18px;
    font-weight: 300;
    color: @text-color-dark;
}

.bancs__body .bancs__payment {
    font-size: 18px;
    font-weight: 500;
    color: @blue-gray;
}

.bancs__control {
    display: none;
    text-align: right;
    padding-right: 5%;
    transition: @transition;
}

.bancs__control__btn {
    width: 35%;
    min-width: 345px;
    display: inline-block;
}

//второй вариант

.bancs__body .bancs__info-check {
    display: flex;
}

.bancs__info-check {
    padding-left: 57px;
    flex-basis: 43%;
    text-align: left;
    text-align: left;
}

.bancs__check {
    cursor: pointer;
    background-color: #ffffff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 1px solid rgba(128,128,128,0.5);
    left: 0;
    top: 0;
    bottom: 0;

    width: 57px;
    svg {
        width: 22px;
      height: 16px;
      fill: none;
      stroke: #ffffff;
    }
}
