.close-btn {
  background-color: rgba(255,98,98,1);
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 40px;
  border: none;
  outline: none;
  &:hover {
    background-color: rgba(255,98,98,0.6);
  }
}