.drivers {

}

.drivers__content {
    background-color: #ffffff;
    border-radius: @border-radius;
    text-align: center;
    padding: 30px 30px;
    padding-bottom: 35px;
    box-shadow: @shadow-item;
    margin-bottom: 17px;
    padding-bottom: 20px;
}

.drivers__checkbox-wrp {
    text-align: left;
    max-width: 470px;
    margin: 0 auto;
    padding: 15px 0;

    position: relative;
    margin-bottom: 20px;
    padding-left: 0;

    &::after {
        position: absolute;
        content: '';
        height: 1px;
        bottom:0;
        left: -10px;
        right: -10px;
        background-color: rgba(128,141,155,0.5);
    }
}


.dirvers__btn-wrp {
    position: relative;
    max-width: 470px;
    margin: 0 auto;
}

.drivers__btn {
    border: none;
    outline: none;
    border-radius: @border-radius;
    background-color: rgba(128,128,128,0.2);
    padding: 15px;
    font-size: 15px;
    color: @blue-gray;
    text-transform: uppercase;
    width: 100%;
    display: block;
    transition: @transition;
    &:hover {
      background-color: rgba(128,128,128,0.4);
    }
}

.dirvers__btn-icon {
    position: absolute;
    buttom: 0;
    top: 0;
    padding-top: 10px;
    height: 100%;
    left: 0;
    width: 56px;
    border-right: 0.5px solid rgba(128,128,128,0.5);
    text-align: center;
    padding-top: 10px;


    svg {
        width: 33px;
        height: 26px;
    }
}

.drivers__title {
  font-size: 18px ;
  font-weight: 300;
  color: @blue-gray;
  margin-bottom: 15px;
}

.drivers__nav {
  list-style: none;
  padding: 0;
  margin:0;
  text-align: left;
  margin: 0 auto;
  max-width: 470px;
  margin-top: -20px;
}

.drivers__nav-icon {
  margin-top: 7px;
}

.drivers__nav-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  a {
    text-decoration: none;
    font-size: 40px;
    font-weight: 300;
    color: rgba(26,26,26,0.5);
    transition: @transition;
    &:hover {
      color: @text-color-dark;
    }
  }
}

.drivers__nav-icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: -8px;
  svg {
    width: 71px;
    height: 52px;
  }

}

.drivers__nav-item {

.cls-1 {
  opacity: 0;
}

.cls-4 {
  fill:#808d9b;
}
}

.drivers__nav-item--active {
  a {
    color: @text-color-dark;

  }
  .drivers__nav-icon {
    margin-left: -4px;
  }
  .cls-1 {
    display: block;
    opacity: 0.7;
  }

  .cls-4 {
    fill:@green;
  }

}
