.faq {
    height: 100%;
    position: relative;
}

.faq__content {
    padding: 25px 3.5%;
    border: 2px solid #e8e8e8;
    border-radius: 5px;
    min-height: 550px;
}

.faq__title {
    font-size: 22px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 20px;
    color: @text-color-dark;
}

.faq__items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.faq__item {
    margin-bottom: 20px;
}

.faq__question {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    border-bottom: 1px dashed #5d5d5d;
    position: relative;
    margin-left: 25px;
    transition: @transition;
    &:hover {
      color: @green;
      border-bottom-color: @green;
      .faq__icon svg {
          stroke: @green;
      }
    }
}

.faq__icon {
    position: absolute;
    left: -25px;
    top: 0;
    transition: @transition;

    svg {
        width: 9px;
        height: 16px;
        stroke: #7f8d9a;
        fill: none;
    }
}

.faq__answer {
    font-size: 15px;
    font-weight: 300;
    color: @text-color-dark;
    line-height: 22px;
    display: none;
    padding-bottom: 5px;
    p {
      margin: 10px 0;
    }
    p:last-child {
        margin-bottom: 0;
    }
}

.faq__item--active {
    .faq__icon {
        transform: rotate(90deg);
    }

    .faq__question {
        border-bottom: none;
    }
}

@media (max-width: 768px) {
    .faq__content {
        min-height: auto;
        margin-bottom: 20px;
    }
}
