.filters {
  margin-bottom: 20px;
}

.filters__item {
  font-size: 16px;
  font-weight: 300;
  padding: 10px 24px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  margin-bottom: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.filters__item--active {
  font-weight: 500;
  border: 1px solid #cccccc;
}
