/*Main page footer*/
.page-footer {
    background-color: @footer-color;
  font-size: 14px;
  font-weight: 500;
}

.page-footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
