/*Main page footer*/
.page-footer {
    background-color: @footer-color;
    font-size: 14px;
    font-weight: 500;
    color: @blue-gray;
}

.page-footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    width: 50%;
    min-width: 470px;
    margin: 0 auto;
    padding: 30px;
}

    .page-footer__link {
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        color: @blue-gray;
      transition: @transition;
      &:hover {
        opacity: 0.6;
      }

}
