.info {
  background-color: #000000;
}

.info__model {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.info__price {
  font-weight: 500;
  font-size: 18px;
}

.info__details {
  font-size: 14px;
}

.info__sum {
  font-size: 18px;
  
  span {
    font-wieght: 500;
  }
}

.info__btn {
  font-size: 14px;
  text-transform: uppercase;
}