/*Main nav in header*/

.main-nav__items {
    list-style: none;
    padding: 0 8px;
    padding-top: 3px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 330px;
}

.main-nav__item a {
    font-size: 14px;
    color: @blue-gray;
    opacity: 0.8;
    transition: @transition;

    &:hover {
        opacity: 1;
    }
}
