.options {
    margin-top: 20px;
}

.options__content {
    background-color: #ffffff;
    border-radius: @border-radius;
    padding: 30px 30px 10px;
    .border-bottom();
}

.options__details {
    border-bottom: 2px dashed @blue-gray-light;
    margin-bottom: 20px;
}
.options__details--padding {
  padding-bottom: 30px;
}

.options__sum {
    font-size: 18px;
    font-weight: 300;
    color: @text-color-dark;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}

.options__number {}

.options__number--bold {
    font-weight: 600;
}

.options__title {
    font-size: 18px;
    color: @blue-gray;
    margin-bottom: 5px;
}

.options__title--osago {
  font-weight: 300;
}

.options__footer--padding {
  padding-bottom: 30px;
}

.options__banc {
    font-size: 35px;
    line-height: 37px;
    font-weight: 300;
    color: rgba(79,90,103,0.75);
    position: relative;
    padding-left: 55px;
}

.options__banc {
    display: inline-block;
    position: relative;
}

.options__banc-icon {
    display: inline-block;
    position: absolute;
    left: 0;
    vertical-align: top;
    margin-right: 15px;

    img {
        vertical-align: top;
    }
}

.options__banc-icon--middle {
  top: 50%;
  transform: translateY(-50%);
}

.options__info {
    text-align: center;
}

.options__exp {
    font-size: 14px;
    font-weight: 300;
    color: rgba(79,90,103,0.6);
    text-align: center;
    width: 270px;
    display: inline-block;
}

.options__refusing {
    text-align: right;
    padding-top: 10px;
}

.options__refusing-link {
    font-size: 15px;
    display: inline-block;
    text-transform: uppercase;
    background-color: transparent;
    padding: 0;
    outline: none;
    cursor: pointer;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px dashed @blue-gray;
    color: @blue-gray;
    opacity: 0.8;
    transition: @transition;

    &:hover {
        color: @green;
        border-color: @green;
    }
}
