.options {
    margin-top: 20px;
}

.options__content {
    background-color: #ffffff;
    border-radius: @border-radius;
    padding: 30px;
    padding-bottom: 10px;
    border-bottom: 10px solid transparent;
    border-width: 10px 0;
    background-color: hsla(0, 0%, 0%, 0);
    background-image: -webkit-linear-gradient(#ffffff, #ffffff), -webkit-linear-gradient(top left, transparent 50.5%, #ffffff 50.5%), -webkit-linear-gradient(top right, transparent 50.5%, #ffffff 50.5%), -webkit-linear-gradient(bottom left, transparent 50.5%, #ffffff 50.5%), -webkit-linear-gradient(bottom right, transparent 50.5%, #ffffff 50.5%);
    background-image: -moz-linear-gradient(#ffffff , #ffffff ), -moz-linear-gradient(top left, transparent 50.5%, #ffffff 50.5%), -moz-linear-gradient(top right, transparent 50.5%, #ffffff 50.5%), -moz-linear-gradient(bottom left, transparent 50.5%, #ffffff 50.5%), -moz-linear-gradient(bottom right, transparent 50.5%, #ffffff 50.5%);
    background-image: linear-gradient(#ffffff , #ffffff ), linear-gradient(to bottom right, transparent 50.5%, #ffffff 50.5%), linear-gradient(to bottom left, transparent 50.5%, #ffffff 50.5%), linear-gradient(to top right, transparent 50.5%, #ffffff 50.5%), linear-gradient(to top left, transparent 50.5%, #ffffff 50.5%);
    background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 10px 0, 10px 0, 10px 100%, 10px 100%;
    background-size: auto auto, 10px 10px, 10px 10px, 10px 10px, 10px 10px;
    background-clip: padding-box, border-box, border-box, border-box, border-box;
    background-origin: padding-box, border-box, border-box, border-box, border-box;
}

.options__details {
    border-bottom: 2px dashed @blue-gray-light;
    margin-bottom: 20px;
}

.options__sum {
    font-size: 18px;
    font-weight: 300;
    color: @text-color-dark;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}

.options__number {}

.options__number--bold {
    font-weight: 600;
}

.options__title {
  font-size: 18px;
  color: @blue-gray;
  margin-bottom: 5px;
}

.options__banc {
    font-size: 35px;
    line-height: 37px;
    font-weight: 300;
    color: rgba(79,90,103,0.75);
    position: relative;
    padding-left: 55px;
}

.options__banc {
  display: inline-block;
  position: relative;
}

.options__banc-icon {
  display: inline-block;
  position: absolute;
  left: 0;
  vertical-align: top;
    margin-right: 15px;
  img {
    vertical-align: top;
  }
}

.options__info {
  text-align: center;
}


.options__exp {
    font-size: 14px;
    font-weight: 300;
    color: rgba(79,90,103,0.6);
    text-align: center;
    width: 270px;
    display: inline-block;
}
