.payment-summary {
    background-color: #ffffff;
    border-radius: @border-radius;
    padding: 30px 35px 10px;
    .border-bottom();
}

.payment-summary__title {
    text-align: center;
    position: relative;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 25px;
}

.payment-summary__title-icon {
    svg {
        width: 22px;
        height: 16px;
        fill: none;
        stroke: @green;
    }
}

.payment-summary__item {
    //border: 2px @blue-gray-light solid;
    border-radius: @border-radius;
    margin-bottom: 10px;
    box-shadow: @shadow-item;
}

.payment-summary__item-basic {
    display: flex;
    justify-content: space-between;
    padding: 15px 18px 15px 25px;
    border-radius: @border-radius;
    border: 1px @blue-gray-light solid;
    background: #ededed;
    background: linear-gradient(to top, rgba(0,0,0,0.1), rgba(255,255,255,0.1));
}

.payment-summary__caret {
    position: absolute;
    left: -25px;
    top: 0;
    transition: @transition;

    svg {
        width: 9px;
        height: 16px;
        stroke: #7f8d9a;
        fill: none;
        transition: @transition;
    }
}

.payment-summary__item-addit {
    padding: 5px;
    //display: none;
    position: relative;
    border-bottom-left-radius: @border-radius;
    border-bottom-right-radius: @border-radius;
}

.payment-summary__item-name {
    color: @text-color-dark;
    border-bottom: 2px dashed @text-color-dark;
    text-decoration: none;
    font-size: 18px;
    transition: @transition;
    position: relative;
    margin-left: 25px;

    &:hover {
        color: @green;
        text-decoration: none;
        border-color: @green;

        svg {
            stroke: @green;
        }
    }
}

.payment-summary__item-price {
    color: @text-color-dark;
    font-size: 18px;
    font-weight: 500;
}

.payment-summary__item-price--sale {
    color: @green;
    font-weight: 400;
}

.payment-summary__caret--up {
    transform: rotate(90deg);
}

.payment-summary__sale {
    background-color: rgba(0,171,138,0.08);
    border-radius: @border-radius;
    padding: 25px;
    margin: 15px;

    text-align: center;
}

.payment-summary__sale-icon {
    position: absolute;
    left: 0;

    svg {
        width: 21px;
        height: 21px;
    }
}

.payment-summary__sale-title {
    display: inline-block;
    padding: 0 48px;
    color: @green;
    font-weight: 300;
    font-size: 22px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

.payment-summary__sale-sum {
    font-weight: 500;
}

.payment-summary__sale-exp {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

.payment-summary__insur-item {
    position: relative;
    &::after {
        position: absolute;
        content: '';
    top: 0;
    bottom: 0;
    right: -10px;
    border-right: 1px dashed rgba(26,26,26,0.2);
    }
}

.payment-summary__table {
    width: 100%;
    margin-bottom: 20px;
    caption {
        font-size: 16px;
        font-weight: 500;
        color: @text-color;
    }

    tr {
        border-bottom: 1px solid rgba(26,26,26,0.15);
    }
}

.payment-summary__table--trade {
    .payment-summary__data {
        color: @blue-gray;
    }
}

.payment-summary__data {
    text-align: right;
    font-size: 16px;
    color: @blue-gray;
    padding: 15px;
    font-weight: 300;
}

.payment-summary__name {
    font-size: 16px;
    font-weight: 500;
    padding: 15px;
}

.payment-summary__table--equipment {
    .payment-summary__name {
        position: relative;
        padding-left: 40px;
        &::after {
            position: absolute;
            content: '';
            width: 8px;
            height: 7px;
            left: 15px;
            top: 50%;
            margin-top: -3.5px;
            background-image: url('../img/payment/list-hexo.svg');
        }

        a {
            color: @text-color;
            border-bottom: 2px dashed #1a1a1a;
            margin-right: 20px;
            position: relative;
            display: inline;
            transition: all .2s ease;
            text-decoration: none;
            &:hover {
                opacity: 0.8;
            }
        }
    }

    .payment-summary__data {
        color: @text-color-dark;
    }
}

.payment-summary__link {
  color: @green;
  font-size: 16px;
  font-weight: 300;
  border-bottom: 1px dashed @green;
  transition: @transition;
  margin-left: 20px;
  margin-top: 10px;
  display: inline-block;
  &:hover {
      opacity: 0.8;
      color: @green;
      text-decoration: none;
  }
}

.payment-summary__table--insurance {

    tr {
        border: none;
    }
    .payment-summary__name {
        vertical-align: top;
        padding: 0;
        color: @text-color;
    }
    .payment-summary__data {
        vertical-align: top;
        padding: 0;
        color: @text-color;
    }
}

.payment-summary__table-wrp {
    border-bottom: 1px solid rgba(26,26,26,0.15);
    padding: 0 18px;
}

.payment-summary__data-link {
    color: @green;
    transition: @transition;
    border-bottom: 1px dashed @green;
    &:hover {
        text-decoration: none;
        color: @green;
        opacity: 0.8;
    }
}

.payment-summary__name--nobold {
    font-weight: 300;
    padding: 5px 0;
}

.payment-summary__insur-title {
    font-size: 22px;
    font-weight: 300;
    color: @blue-gray;
    margin-left: 20px;
}
