.payment-title {
  padding: 20px 0;
}

.payment-title__price-wrp {
  text-align: right;
}

.payment-title__price {
  display: inline-block;
  margin-right: 50px;
  position: relative;
  font-size: 30px;
  font-weight: 600;
  color: @blue-gray;
  width: 100%;
}

.payment-title__auto {
  font-size: 18px;
  font-weight: 300;
  margin-left: 35px;
}

.payment-title__model {
  font-weight: 500;
}

.payment-title__icon {
  display: inline-block;
  vertical-align: middle;
margin-top: 5px;
  svg {
    width: 26px;
    height: 26px;
  }
}
