.popup-tooltip {
  top: 50px;
  position: absolute;
  width: 350px;
  padding: 20px;
  box-shadow: @shadow-popup;
  border-radius: @border-radius;
  background-color: @blue-gray;
}

.popup-tooltip__title {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}

.popup-tooltip__text {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}
