.popup-descr {
    display: none;
    width: 600px;
    max-width: 95%;
    position: fixed;
    height: 85%;

    top: 100px;
    left: 50%;

    transform: translateX(-50%);
    z-index: 45;
}

.popup-descr__content {
  height: 100%;
  overflow-y: auto;
  border-radius: @border-radius;
}

.popup-descr__content-wrp {

  background-color: #ffffff;
  border-radius: @border-radius;
  box-shadow: @shadow-popup;
  padding: 20px 30px;
padding-bottom: 10px;
}

.popup-descr__header {
    display: flex;
    margin-bottom: 10px;
}

.popup-descr__icon {
    flex-basis: 21%;

    img {
        width: 80%;
    }
}

.popup-descr__header-info {
    flex-basis: 79%;
}

.popup-descr__title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 5px;
}

.popup-descr__price {
    font-size: 16px;
    font-weight: 300;
    color: @blue-gray;
}

.popup-descr__text {
    font-size: 14px;
    font-weight: 300;
}

.popup-descr__advantages {
    padding-left: 15px;
    margin: 0;
}

.popup-descr_consist-title {
    font-size: 14px;
    font-weight: 500;
}

.popup-desc__consist {
    p {
        font-size: 14px;
        font-weight: 300;
        margin: 0;
        color: @text-color-dark;
    }
}

.popup-descr__btn {
    text-align: right;
    margin: 10px 0;
}
