.question-btn {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  padding: 0;
  border: none;
  margin-top: 3px;
  margin-left: 5px;
  transition: @transition;
  svg {
    width: 18px;
    height: 18px;
    fill: #a8adb3;
  }

  &:hover {
    opacity: 0.6;
  }
}
