.select {
  border: 2px solid #c5a6b7;
  border-radius: @border-radius;
  padding: 13px 20px;
  font-size: 18px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
    width: 100%;
    border: 2px solid #c5a6b7;
    -webkit-appearance: none;
    padding-right: 27px;
    background-image: url("../img/select.svg");
    background-repeat: no-repeat;
    background-position: 8px 13px, left 10px top 50%, 0 0;
    background-position: 96% 55%;
    background-size: 16px 25px;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    -ms-appearance: none;
    appearance: none!important;
    cursor: pointer;
    outline: none;
    color: @text-color-dark;

    option {
      padding-left: 13px;
    }
}

.select__wrp {
  position:relative;
  &::before {
    position: absolute;
    content: '';
    top:0;
    bottom:0;
    right: 46px;
    width: 2px;
    background-color: rgba(128,141,155, 0.5);
  }
}
/*input::-webkit-input-placeholder {color:#999999; opacity: 1;}
input::-moz-placeholder          {color:#999999; opacity: 1;}/* Firefox 19+ */
//input:-moz-placeholder           {color:#999999; opacity: 1;}/* Firefox 18- */
//input:-ms-input-placeholder      {color:#999999;}
