.services {
    background-color: @services-color;
    padding: 25px 0;
}

.services__item {
    background-color: #ffffff;
    margin-bottom: 12px;
    border-radius: 5px;
    padding: 16px 22px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    border: 1px solid #ccd1d7;
    border-radius: 5px;
}

.services__item--select {
    box-shadow: none;
    border: 1px solid #ffffff;

    .services__icon img {
        filter: none;
    }

    .services__btn {
        background-color: #e5f6f3;
        color: @green;

        &::before {
            background-image: url('../img/check.svg');
            background-repeat: no-repeat;
            background-position: center;
            border-right: 1px solid rgba(0,171,138,0.5);
        }
    }
}

.services__item:hover {
    border: 1px solid #b3bbc3;
}

.services__item--focus {
    background-color: #edeef0;
    border: 2px solid #b3bbc3;
}

.services__content {
    display: flex;
    justify-content: space-between;
}

.services__info {
    display: flex;
    width: 74%;
    margin-right: 20px;
}

.services__icon {
    min-width: 85px;
    width: 13%;

    img {
        width: 86%;
        height: auto;
        filter: url(  'img/grayscale.svg#grayscale');
        filter: grayscale(100%);
    }
}

.services__text {}

.services__title {
    font-weight: 500;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 15px;
}

.services__details {
    p {
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        margin: 0;
        color: @text-color-dark;
    }
}

.services__sale {
    font-weight: 300;
    opacity: 0.6;
    font-size: 14px;
    color: @blue-gray;

    span {
        font-weight: 500;
    }
}

.services__price {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 17px;
    margin-top: 0;
    text-align: right;
}

.services__control {
    text-align: right;
}

.services__exp {
    font-size: 14px;
    font-weight: 300;
    text-align: right;
    color: @blue-gray;
    opacity: 0.75;
}

.services__btn {
    font-weight: 400;
    font-size: 15px;
    text-align: left;
    text-transform: uppercase;
    background-color: #e6e6e6;
    padding: 17px 30px 17px 77px;
    width: 212px;
    border-radius: 5px;
    border: none;
    color: @blue-gray;
    outline: none;
    cursor: pointer;
    position: relative;

    &::before {
        position: absolute;
        width: 50px;
        content: '';
        left: 0;
        top: 0;
        bottom: 0;
        background-image: url('../img/plus.svg');
        background-repeat: no-repeat;
        background-position: center;
        border-right: 1px solid rgba(128,128,128,0.5);
    }

    &:hover {
        background-color: #f2f2f2;
    }

    &:focus {
        background-color: #d9d9d9;
    }
}

.services__category {
    background-color: #e6e8eb;
    display: inline-block;
    font-weight: 300;
    font-size: 14px;
    padding: 3px 14px;
    border-radius: 5px;
    margin-bottom: 5px;
    position: relative;
    top: -10px;
}

.services__more {
    margin-top: 20px;
    text-align: center;

    a {
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        transition: @transition;
        font-size: 15px;
        color: @green;

        &:hover {
            text-decoration: underline;
        }
    }
}
