.services {
	background-color: @services-color;
}

.services__icon svg{
  width: 70px;
  height: 80px;
  .st0{fill:none;stroke:#08AB8A;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
	.st1{fill:none;stroke:#08AB8A;stroke-width:2.2446;stroke-miterlimit:10;}
	.st2{opacity:0.15;fill:#08AB8A;}
	.st3{fill:none;stroke:#08AB8A;stroke-width:2.3333;stroke-linecap:round;stroke-miterlimit:10;}
	.st4{fill:#08AB8A;}
}
