.sorting {
    text-align: right;
    margin-bottom: 10px;
}

.sorting__content {
    display: inline-block;
    color: @blue-gray;
    font-size: 18px;
    font-weight: 300;
}

.sorting__name {
    border-bottom: 1.5px dashed @blue-gray;
    display: inline-block;
    vertical-align: middle;
}

.sorting__select {
    -webkit-appearance: none;
    border: none;
    outline: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    -ms-appearance: none;
    appearance: none!important;
    cursor: pointer;
    background-color: transparent;
    color: @blue-gray;
    font-weight: 300;
    font-family: 'Roboto', 'Arial', sans-serif;
}
