.sorting {
  text-align: right;
  margin-bottom: 10px;
}

.sorting__content {
  display: inline-block;
  border-bottom: 1.5px dashed @text-color;
}

.sorting__icon {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  svg {
    stroke: #818d9b;
    width: 20px;
    height: 12px;
  }
}
