.step-btn__wrapper {
    text-align: right;
}

.step-btn__wrapper--margin {
    margin-top: 15px;
}

.step-btn {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: @green;
    color: #ffffff; // padding: 10px 35px;
    padding: 12px 0;
    width: 100%;
    text-align: center;
    position: relative;
    border-radius: 5px;
    border:none;
    outline: none;
    transition: @transition;
    text-decoration: none;

    &:hover {
        background-color: #33bca1;
        text-decoration: none;
        color: #ffffff;
    }
    &:focus {
        background-color: #039c7f;
        outline: none;
        text-decoration: none;
        color: #ffffff;
    }
}

.step-btn__icon {
    position: absolute;
    right: 7%;
    top: 50%;
    transform: translateY(-45%);

    svg {
        width: 10px;
        height: 15px;
        stroke: #ffffff;
        fill: none;
    }
}

.step-btn__icon--big {
  svg {
    width: 22px;
    height: 28px;
  }
}

.step-btn--prev {
    background-color: #e7e8ec;
    color: @text-color;
    &:hover {
      background-color: #d9d9d9;
      color: @text-color;
    }

    &:focus {
      background-color: #e6e6e6;
      outline: none;
      color: @text-color;
    }
    .step-btn__icon {
        right: auto;
        left: 7%;
        transform: translateY(-60%) rotate(180deg);

        svg {
            width: 10px;
            height: 15px;
            stroke: #a8adb3;
            fill: none;
        }
    }


}


.step-btn__icon--garage {
  svg {
    width: 21px;
    height: 16px;
    fill: #ffffff;
    transform: none!important;
  }
}

.step-btn__icon--reserve {
  svg {
    width: 24.6px;
    height: 30px;
    fill: none;
    stroke: #ffffff;
    transform: none!important;
  }
}

.step-btn__icon-purse {
  svg {
    width: 28px;
    height: 21px;
    stroke: none;

  }
}

.step-btn--padding {
  padding: 25px 35px;
  margin-bottom: 5px;
}

.step-btn--payment {
  border: 2px solid @green;
  padding: 23px 35px;
  color: @green;
  background-color:#ffffff;
  &:hover {
    background-color: rgba(79,90,103,0.1);
    color: @green;
  }
}

.step-btn--gradient {
  background: @green;
  background: linear-gradient(to top, #00ab8a, #55c6b0);
  text-transform: none;
  padding: 15px 0;
    font-size: 21px;
    border: 1px solid #007B57;
  &:hover {
    opacity: 0.8;
  }
}
