.tooltip {
    border: 2px solid #bcc3c9;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 12px;
}

.tooltip {
    font-weight: 300;
    font-size: 16px;
}

.tooltip__price {
    font-weight: 500px;
    font-size: 16px;
    border-bottom: 1.5px dashed @text-color;
}

.tooltip__icon {
    svg {
        width: 22px;
        height: 16px;
        fill: none;
        stroke: #bcc3cb;
        stroke: #08AB8A;
    }
}

.tooltip--active {
    .tooltip__icon {
        svg {
            width: 22px;
            height: 16px;
            fill: none;
            stroke: #08AB8A;
        }
    }
}

.tooltip__service {
    color: @text-color;
    border-bottom: 1.5px dashed @text-color;
    text-decoration: none;
}

.tooltip__btn {
    font-size: 15px;
    display: inline-block;
    text-transform: uppercase;
    background-color: transparent;
    padding: 0;
    outline: none;
    cursor: pointer;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px dashed @text-color;
}
