

.tooltip__question {
  svg {
    width: 18px;
    height: 18px;
    fill: #b2b9c1;
  }
}


.tooltip {
  font-weight: 300;
  font-size: 16px;
}

.tooltip__price {
  font-weight: 500px;
  font-size: 16px;
}

.tooltip__btn {
  font-size: 15px;
  text-transform: uppercase;
}