.tooltip-info {
    border: 2px solid rgba(128,141,155,0.4);
    background-color: @services-color;
    border-radius: 5px;
    padding-top: 26px;
    padding-bottom: 26px;
    font-weight: 300;
    font-size: 16px;
    padding: 26px 15px;
    color: @text-color-dark;
}

.tooltip-info__wrp {
    background-color: @services-color;
    margin-bottom: 12px;
}

.tooltip-info--warning {
    border-color: #f49e9f;
    background-color: #e8d9da;
}

.tooltip-info--success {
    border-color: #6ac6b6;
    background-color: #d3e2e0;

    .tooltip-info__icon {
        svg {
            stroke: @green;
        }
    }

    .tooltip-info__price {
        color: @green;
    }
}

.tooltip-info__wrp--fixed {
    position: fixed;
    z-index: 37;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(128,141,155,0.4);
    .tooltip-info {
        padding: 15px 0px;
        border: none;
        font-size: 14px;
        color: #4f5a67;
    }
}

.tooltip-info__wrp--fixed.tooltip-info__wrp--warning {
    background-color: #e8d9da;
    border-color: #f49e9f;
}
.tooltip-info__wrp--fixed.tooltip-info__wrp--success {
    border-color: #6ac6b6;
    background-color: #d3e2e0;
}

.tooltip-info__price {
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1%;
    color: @text-color;
    font-size: 16px;
    position: relative;
}

.tooltip-info__icon {
    text-align: center;
    width: 19px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;

    svg {
        opacity: 1;
    }
}

.tooltip-info__service {
    color: @text-color;
    border-bottom: 1.5px dashed @text-color;
    text-decoration: none;
    transition: @transition;

    &:hover {
        text-decoration: none;
        color: @green;
        border-color: @green;
    }
}

.tooltip-info__btn {
    font-size: 15px;
    display: inline-block;
    text-transform: uppercase;
    background-color: transparent;
    padding: 0;
    outline: none;
    cursor: pointer;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px dashed @blue-gray;
    color: @blue-gray;
    opacity: 0.8;
    display: inline-block;
    transition: @transition;

    &:hover {
        color: @green;
        border-color: @green;
    }
}

.tooltip-info--active {
    .tooltip-info__btn {
        display: inline-block;
    }

    .tooltip-info__icon {
        svg {
            fill: none;
            opacity: 1;
            stroke: #08AB8A;
        }
    }

    .tooltip-info__price {
        font-weight: 500;
        font-size: 16px;
        color: @text-color;
    }
}

.tooltip-info__control {
    text-align: right;
}
@media (max-width: 768px) {
    .tooltip-info__control {
        text-align: left;
        margin-top: 10px;
    }
}
