.tooltip-info {
    border: 2px solid rgba(128,141,155,0.4);
    border-radius: 5px;
    padding-top: 26px;
    padding-bottom: 26px;
    margin-bottom: 12px;
  //display: flex;
  //justify-content: space-between;
}

.tooltip-info {
    font-weight: 300;
    font-size: 16px;
}

.tooltip-info__price {
    font-weight: 500;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  color: @green;
    font-size: 16px;
    border-bottom: 1.5px dashed @green;
}

.tooltip-info__icon {
    svg {
        width: 22px;
        height: 16px;
        fill: none;
        stroke: @blue-gray-light;
      opacity: 0.4;
    }
}


.tooltip-info__service {
    color: @text-color;
    border-bottom: 1.5px dashed @text-color;
    text-decoration: none;
}

.tooltip-info__btn {
    font-size: 15px;
    display: inline-block;
    text-transform: uppercase;
    background-color: transparent;
    padding: 0;
    outline: none;
    cursor: pointer;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px dashed @blue-gray;
    color: @blue-gray;
    opacity: 0.8;
    display: none;
  transition: @transition;
  &:hover {
    opacity: 1;
  }
}

.tooltip-info--active {

  .tooltip-info__btn {
  display: inline-block;
  }

   .tooltip-info__icon {
        svg {
            width: 22px;
            height: 16px;
            fill: none;
          opacity: 1;
            stroke: #08AB8A;
        }
    }

  .tooltip-info__price {
    font-weight: 500;
    font-size: 16px;
    color: @text-color;
    border-bottom: 1.5px dashed @text-color;
  }

}
