.trade-sale__title {
  font-size: 18px;
  font-weight: 300;
  color: @blue-gray;
  margin-bottom: 15px;
}

.trade-sale__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.trade-sale__text--note {
  color: @blue-gray;
  font-weight: 500;
  margin-bottom: 0;
}

.trade-sale__item {
    background-color: rgba(255,255,255,0.75);
  border-radius: @border-radius;
  box-shadow: @shadow-item;
  border: 1px solid rgba(128,141,155,0.75);
  margin-bottom: 10px;
}

.trade-sale__item--select {
  box-shadow: none;
    background-color: rgba(255,255,255,1);
}

.trade-sale__exp {
  padding: 19px;
}
